bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.AELP/.idea/avalonia.xml
.idea/.idea.AELP/.idea/copilot.data.migration.agent.xml
.idea/.idea.AELP/.idea/copilot.data.migration.ask.xml
.idea/.idea.AELP/.idea/copilot.data.migration.ask2agent.xml
.idea/.idea.AELP/.idea/copilot.data.migration.edit.xml
.idea/.idea.AELP/.idea/encodings.xml
.idea/.idea.AELP/.idea/indexLayout.xml
.idea/.idea.AELP/.idea/vcs.xml
AELP/Assets/Database/stardict.db
AELP.sln.DotSettings.user
.vs/*
.vs/
QuickToAELP/.idea

**/Properties/launchSettings.json
*.pubxml

.vs/AELP/copilot-chat/011dbedf/sessions/a3f59613-28f6-4fbe-a217-1fc365cf42ae
.vs/AELP/CopilotIndices/18.0.988.22099/CodeChunks.db
.vs/AELP/CopilotIndices/18.0.988.22099/SemanticSymbols.db
.vs/AELP/FileContentIndex/0ac4f53c-3d11-4baf-bdb7-a56d4ed885fe.vsidx
.vs/AELP/FileContentIndex/5d044edf-1562-4f20-b0ad-6a5bab351abd.vsidx
.vs/AELP/FileContentIndex/78c6bfdc-65c3-4ad7-8dbb-23c9a10f1910.vsidx
.vs/AELP/FileContentIndex/b1e900c5-4c9b-449a-b868-a9040d68380c.vsidx
.vs/CopilotSnapshots/1396F5A3F628BE4FA2171FC365CF42AE/state.mpack
.vs/CopilotSnapshots/1396F5A3F628BE4FA2171FC365CF42AE/B50D4290C51C04409E021CF09845A8F3/1FEF1466A5ACAC47ED2BC90DC4773264
.vs/CopilotSnapshots/1396F5A3F628BE4FA2171FC365CF42AE/B50D4290C51C04409E021CF09845A8F3/17E36525A5BD57EB751201C5E586CC4F
.vs/CopilotSnapshots/1396F5A3F628BE4FA2171FC365CF42AE/B50D4290C51C04409E021CF09845A8F3/83EE1A242B1D90B511B7D52A6B62029A
